.highlight-item {

    .titlee {
        font-size  : 1.3rem;
        font-weight: 600;
        color      : var(--color-primary);
        text-align : left;
    }

    .description {
        font-size  : 1.2rem;
        font-weight: 400;
        color      : var(--color-secondary);
        text-align : left;
    }

    .views {
        font-size  : 1.2rem;
        font-weight: 400;
        color      : var(--color-secondary);
        text-align : left;
    }

    .highlight-image {
        height             : 250px;
        width              : 250px;
        border-radius      : 10px;
        background-size    : cover;
        background-repeat  : no-repeat;
        background-position: center;
    }

}