.large-blog-card {

    // Tuỳ chỉnh bo góc, bóng, padding nếu muốn
    .ant-card-cover img,
    .highlight-image {
        border-radius: 10px 10px 0 0;
        object-fit   : cover;
        width        : 100%;
        height       : 200px;
    }

    .ant-card-meta-title,
    .large-blog-title {
        font-size  : 1.2rem;
        font-weight: 600;
        color      : var(--color-primary);
    }

    .ant-card-meta-description {
        font-size: 1rem;
        color    : var(--color-secondary);
    }

    .large-blog-views {
        font-size    : 12px;
        color        : #888;
        margin-bottom: 8px;
    }

    .large-blog-description {
        font-size: 13px;
        color    : #444;
    }
}