.signin_btn {
  border         : none;
  color          : white;
  padding        : 12px 42px;
  text-align     : center;
  text-decoration: none;
  display        : inline-block;
  font-size      : 16px;
  font-family    : "Aminute", sans-serif;

  cursor: pointer;

  border-radius: 24px;
}

.signin_btn:hover {
  cursor: pointer;
  color : #f0f0f0;
}

/* Thanh taskbar */
@import url("https://fonts.googleapis.com/css2?family=Aminute&display=swap");
@import "../../variables.css";

.header {
  font-family    : "Aminute", sans-serif;
  position       : fixed;
  top            : 0;
  left           : 0;
  width          : 100%;
  z-index        : 100;
  background     : rgba(0, 0, 0, 0.406);
  /* Header trong suốt */
  backdrop-filter: blur(2px);
  /* Làm mờ nền */
  padding        : 0px 20px;
  display        : flex;
  justify-content: space-between;
}

.nav {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  max-width      : 150vh;
  width          : 100%;
  margin         : 0 auto;
  align-content  : center;
  align-self     : center;
}

.logo {
  font-size  : 26px;
  font-weight: bold;
  color      : var(--xanh-nhat);
}

.nav-links {
  list-style   : none;
  display      : flex;
  gap          : 20px;
  align-content: center;
  align-self   : center;
  align-items  : center;

  margin-right: 20px;
}

.nav-links li {
  display: inline;
}

.right-con {
  display      : flex;
  align-items  : center;
  align-content: center;
  padding      : 5px;
}

.link {
  color          : white;
  text-decoration: none;
}

.nav-links {
  transform: translateY(8px);
}

/* Nội dung */
.layout {
  display       : flex;
  flex-direction: column;
  /* Sắp xếp theo chiều dọc */
  min-height    : 100vh;
  /* Chiều cao tối thiểu bằng chiều cao màn hình */
}

.content {
  flex: 1;
  /* Chiếm toàn bộ không gian còn lại giữa Header và Footer */
}

footer {
  background-color: #f0f0f0;
  /* Màu nền cho Footer */
  text-align      : center;
  padding         : 10px 0;
}

.search-container {
  position : relative;
  width    : 40%;
  max-width: 400px;
}

.search-input {
  display      : flex;
  align-items  : center;
  background   : transparent;
  border       : 2px solid rgba(255, 255, 255, 0.596);
  border-radius: 16px;
  padding      : 4px 12px;
  color        : white;
}

.search-input:focus,
:hover {
  border-color: rgba(255, 255, 255, 0.874);
  transition  : 0.3s;
}

.search-icon {
  color       : rgba(255, 255, 255, 0.596);
  font-size   : 16px;
  margin-right: 10px;
}

.search-input2 {
  flex      : 1;
  border    : none;
  background: transparent;
  outline   : none;
  color     : white;
  font-size : 16px;
}

.search-input2::placeholder {
  color  : white;
  opacity: 0.7;
}

.booking_btn {
  background-color: var(--xanh-nhat);
  border          : none;
  color           : black;
  padding         : 10px 24px;
  text-align      : center;
  text-decoration : none;
  display         : inline-block;
  font-size       : 18px;
  font-weight     : 600;
  cursor          : pointer;
  transform       : translateX(10px);

  border-radius: 0px;
  border       : 1px solid black;
}

.booking_btn:hover {
  background-color: var(--xanh-dam);
  transition      : 0.3s;
}